.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}
#uploadbutton{
  width: 100%;
}

button {
  width: 50%;
}


pre {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
}